<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pong2K</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>

    <div id="background">
      <div id="game">

      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/build/phaser.min.js"></script>
    <script src="/javascripts/@orange-games/phaser-input/build/phaser-input.js"></script>
    <script src="/javascripts/phaser-state-transition-plugin.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/matchRecord.js"></script>
    <script type="text/javascript" src="/javascripts/playerSelect.js"></script>
    <script type="text/javascript" src="/javascripts/pongIntro.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>

  </body>
</html>
