<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pong</title>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery.js"></script>
  </head>
  <body>

    <div id="background">
      <div id="game">

      </div>
    </div>

    <footer>
      <a class="btn" href="/scoreboard">Go to Scoreboard</a>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script type="text/javascript" src="public/javascripts/build/phaser.min.js"></script>
    <script src="public/javascripts/@orange-games/phaser-input/build/phaser-input.js"></script>
    <script src="public/javascripts/phaser-state-transition-plugin.min.js"></script>
    <script type="text/javascript" src="public/javascripts/main.js"></script>
    <script type="text/javascript" src="public/javascripts/matchRecord.js"></script>
    <script type="text/javascript" src="public/javascripts/playerSelect.js"></script>
    <script type="text/javascript" src="public/javascripts/pongIntro.js"></script>
    <script type="text/javascript" src="public/javascripts/client.js"></script>

  </body>
</html>
