body {
  margin: 0 auto;
}

#background {
  /*light green*/
  background-color: #d5e7ca;
  /*sunset*/
  /*background-color: #e5d2c6;*/
  /*light yellow*/
  /*background-color: #e6eebe;*/
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
