body {
  margin: 0 auto;
  background: url("https://images4.alphacoders.com/555/555581.jpg");

  background-size: 100%;
}

#background {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  
